# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:

df = pd.read_csv('../WeatherPy/output_data/WeatherPy.csv')
df

,City,Country,Lat,Lng,Temp,Cloudiness,Humidity,WindSpeed,Date
0,honiara,SB,-9.43,159.95,77.00,75.0,94.0,2.24,1604057474
1,vicuna,CL,-30.03,-70.71,53.60,90.0,87.0,4.70,1604057474
2,carnarvon,AU,-24.87,113.63,73.40,90.0,78.0,10.29,1604057475
3,albany,US,42.60,-73.97,32.00,100.0,89.0,9.24,1604057413
4,powassan,CA,46.03,-79.35,19.99,15.0,76.0,5.99,1604057475
...,...,...,...,...,...,...,...,...,...
566,upington,ZA,-28.45,21.26,86.00,0.0,19.0,3.36,1604057606
567,ajdabiya,LY,30.76,20.23,74.91,34.0,55.0,13.00,1604057606
568,filadelfia,US,39.95,-75.16,46.00,90.0,100.0,13.87,1604057382
569,beloha,MG,-25.17,45.05,91.78,0.0,26.0,14.63,1604057606
570,sabalgarh,IN,26.25,77.40,79.83,0.0,18.0,5.48,1604057606

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
locations = df[["Lat","Lng"]]

fig = gmaps.figure()


heat_layer = gmaps.heatmap_layer(locations, weights=df["Humidity"],dissipating=False, max_intensity=100, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [28]:
idealdf = df[df["Cloudiness"] > 70] 
idealdf = idealdf[df["Temp"] > 50]
idealdf = idealdf[df["Temp"] > 80]
idealdf = idealdf[df["WindSpeed"] < 15]  
idealdf

,City,Country,Lat,Lng,Temp,Cloudiness,Humidity,WindSpeed,Date
21,bireun,ID,5.20,96.70,81.27,100.0,78.0,0.20,1604057480
38,kavieng,PG,-2.57,150.80,82.17,97.0,74.0,7.16,1604057483
47,atar,MR,20.52,-13.05,90.43,90.0,15.0,10.27,1604057486
50,labuhan,ID,-6.88,112.21,84.11,76.0,73.0,7.14,1604057487
54,carutapera,BR,-1.20,-46.02,85.10,86.0,63.0,10.89,1604057488
69,port hedland,AU,-20.32,118.57,82.40,73.0,69.0,12.75,1604057491
82,padang,ID,-0.95,100.35,81.70,100.0,72.0,0.94,1604057293
83,vila velha,BR,-20.33,-40.29,80.60,75.0,78.0,12.75,1604057446
86,taoudenni,ML,22.68,-3.98,90.57,88.0,12.0,11.59,1604057496
127,palauig,PH,15.44,119.90,81.73,74.0,80.0,3.40,1604057507
149,santo antonio do ica,BR,-3.10,-67.94,80.71,82.0,81.0,2.73,1604057511
165,penal,TT,10.17,-61.47,80.01,97.0,95.0,1.01,1604057515
171,cayenne,GF,4.93,-52.33,80.60,75.0,100.0,2.24,1604057407
184,prainha,BR,-1.80,-53.48,85.01,78.0,64.0,6.35,1604057519
188,rayong,TH,12.83,101.43,84.99,76.0,82.0,3.87,1604057520
200,okitipupa,NG,6.50,4.78,94.53,100.0,48.0,1.97,1604057523
223,owando,CG,-0.48,15.90,84.69,90.0,65.0,1.88,1604057527
267,katiola,CI,8.13,-5.10,86.00,75.0,66.0,2.24,1604057538
276,sao filipe,CV,14.90,-24.50,83.73,94.0,57.0,12.44,1604057540
293,caravelas,BR,-17.71,-39.25,82.65,75.0,64.0,12.03,1604057544
297,pedernales,DO,18.04,-71.74,82.06,99.0,66.0,1.21,1604057546
298,quelimane,MZ,-17.88,36.89,89.60,75.0,59.0,13.87,1604057546
316,waingapu,ID,-9.66,120.26,82.67,85.0,75.0,3.15,1604057549
355,boa vista,BR,2.82,-60.67,80.60,75.0,78.0,1.12,1604057400
392,mweka,CD,-4.85,21.57,80.55,95.0,66.0,3.53,1604057567
403,caninde,BR,-4.36,-39.31,86.86,91.0,44.0,7.72,1604057548
406,sampit,ID,-2.53,112.95,80.10,85.0,83.0,3.38,1604057570
432,sibolga,ID,1.74,98.78,81.01,96.0,77.0,2.82,1604057283
434,kabalo,CD,-6.05,26.92,85.19,95.0,68.0,0.76,1604057577
464,lorengau,PG,-2.02,147.27,81.48,94.0,75.0,5.26,1604057584
523,port blair,IN,11.67,92.75,81.21,87.0,81.0,10.38,1604057596
529,denpasar,ID,-8.65,115.22,80.17,90.0,87.0,7.18,1604057435
550,bria,CF,6.54,21.99,83.30,71.0,67.0,3.27,1604057602
551,mogadishu,SO,2.04,45.34,82.94,72.0,67.0,12.17,1604057602
557,nioro,GM,13.35,-15.75,94.42,84.0,26.0,3.62,1604057604

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [68]:
hotel_df = pd.DataFrame(df, columns=["City", "Country","Lat", "Lng",])
hotel_df["Hotel Name"] = ""
hotel_df["Lat"] = hotel_df["Lat"].astype(str)
hotel_df["Lng"] = hotel_df["Lng"].astype(str)
hotel_df

           City Country     Lat     Lng Hotel Name
0       honiara      SB   -9.43  159.95
1        vicuna      CL  -30.03  -70.71
2     carnarvon      AU  -24.87  113.63
3        albany      US    42.6  -73.97
4      powassan      CA   46.03  -79.35
..          ...     ...     ...     ...        ...
566    upington      ZA  -28.45   21.26
567    ajdabiya      LY   30.76   20.23
568  filadelfia      US   39.95  -75.16
569      beloha      MG  -25.17   45.05
570   sabalgarh      IN   26.25    77.4

[571 rows x 5 columns]

In [65]:

url1 ="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="
url2 = f"&radius=5000&type=lodging&keyword=hotel&key={g_key}"

In [71]:
response = requests.get(url1 + "33.753746,-84.386330" + url2).json()
response

{'error_message': 'You have exceeded your daily request quota for this API. If you did not set a custom daily request quota, verify your project has an active billing account: http://g.co/dev/maps-no-account',
 'html_attributions': [],
 'results': [],
 'status': 'OVER_QUERY_LIMIT'}

In [70]:
for index, row in hotel_df.iterrows():
    response = requests.get(url1 + row["Lat"] + "," + row["Lng"] + url2).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = response['results'][0]["name"]
    except:
        hotel_df.loc[index, "Hotel Name"] = "None"

IndexError: list index out of range

In [67]:
hotel_df

           City Country     Lat     Lng Hotel Name
0       honiara      SB   -9.43  159.95       None
1        vicuna      CL  -30.03  -70.71       None
2     carnarvon      AU  -24.87  113.63       None
3        albany      US    42.6  -73.97       None
4      powassan      CA   46.03  -79.35       None
..          ...     ...     ...     ...        ...
566    upington      ZA  -28.45   21.26       None
567    ajdabiya      LY   30.76   20.23       None
568  filadelfia      US   39.95  -75.16       None
569      beloha      MG  -25.17   45.05       None
570   sabalgarh      IN   26.25    77.4       None

[571 rows x 5 columns]

In [63]:
hotel_df = hotel_df[hotel_df != "None"]
hotel_df.dropna(inplace=True)
hotel_df

           City Country     Lat      Lng                       Hotel Name
0       honiara      SB   -9.43   159.95     Solomon Kitano Mendana Hotel
2     carnarvon      AU  -24.87   113.63  Carnarvon Sea Change Apartments
5     upernavik      GL   72.79   -56.15    Gina's Guesthouse - Upernavik
6  punta arenas      CL  -53.15   -70.92        Hotel Dreams Punta Arenas
7        avarua      CK  -21.21  -159.78     The Edgewater Resort and Spa
8  puerto ayora      EC   -0.74   -90.35        Finch Bay Galapagos Hotel

In [59]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Country'

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, hotel_info)
fig.add_layer(markers)
fig
# Display figure