# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

df = pd.read_csv('../WeatherPy/output_data/WeatherPy.csv')
df

,City,Country,Lat,Lng,Temp,Cloudiness,Humidity,WindSpeed,Date
0,honiara,SB,-9.43,159.95,77.00,75.0,94.0,2.24,1604057474
1,vicuna,CL,-30.03,-70.71,53.60,90.0,87.0,4.70,1604057474
2,carnarvon,AU,-24.87,113.63,73.40,90.0,78.0,10.29,1604057475
3,albany,US,42.60,-73.97,32.00,100.0,89.0,9.24,1604057413
4,powassan,CA,46.03,-79.35,19.99,15.0,76.0,5.99,1604057475
...,...,...,...,...,...,...,...,...,...
566,upington,ZA,-28.45,21.26,86.00,0.0,19.0,3.36,1604057606
567,ajdabiya,LY,30.76,20.23,74.91,34.0,55.0,13.00,1604057606
568,filadelfia,US,39.95,-75.16,46.00,90.0,100.0,13.87,1604057382
569,beloha,MG,-25.17,45.05,91.78,0.0,26.0,14.63,1604057606
570,sabalgarh,IN,26.25,77.40,79.83,0.0,18.0,5.48,1604057606

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = df[["Lat","Lng"]]

fig = gmaps.figure()


heat_layer = gmaps.heatmap_layer(locations, weights=df["Humidity"],dissipating=False, max_intensity=100, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
idealdf = df[df["Cloudiness"] > 70] 
idealdf = idealdf[df["Temp"] > 50]
idealdf = idealdf[df["Temp"] > 80]
idealdf = idealdf[df["WindSpeed"] < 15]  
idealdf

,City,Country,Lat,Lng,Temp,Cloudiness,Humidity,WindSpeed,Date
21,bireun,ID,5.20,96.70,81.27,100.0,78.0,0.20,1604057480
38,kavieng,PG,-2.57,150.80,82.17,97.0,74.0,7.16,1604057483
47,atar,MR,20.52,-13.05,90.43,90.0,15.0,10.27,1604057486
50,labuhan,ID,-6.88,112.21,84.11,76.0,73.0,7.14,1604057487
54,carutapera,BR,-1.20,-46.02,85.10,86.0,63.0,10.89,1604057488
69,port hedland,AU,-20.32,118.57,82.40,73.0,69.0,12.75,1604057491
82,padang,ID,-0.95,100.35,81.70,100.0,72.0,0.94,1604057293
83,vila velha,BR,-20.33,-40.29,80.60,75.0,78.0,12.75,1604057446
86,taoudenni,ML,22.68,-3.98,90.57,88.0,12.0,11.59,1604057496
127,palauig,PH,15.44,119.90,81.73,74.0,80.0,3.40,1604057507
149,santo antonio do ica,BR,-3.10,-67.94,80.71,82.0,81.0,2.73,1604057511
165,penal,TT,10.17,-61.47,80.01,97.0,95.0,1.01,1604057515
171,cayenne,GF,4.93,-52.33,80.60,75.0,100.0,2.24,1604057407
184,prainha,BR,-1.80,-53.48,85.01,78.0,64.0,6.35,1604057519
188,rayong,TH,12.83,101.43,84.99,76.0,82.0,3.87,1604057520
200,okitipupa,NG,6.50,4.78,94.53,100.0,48.0,1.97,1604057523
223,owando,CG,-0.48,15.90,84.69,90.0,65.0,1.88,1604057527
267,katiola,CI,8.13,-5.10,86.00,75.0,66.0,2.24,1604057538
276,sao filipe,CV,14.90,-24.50,83.73,94.0,57.0,12.44,1604057540
293,caravelas,BR,-17.71,-39.25,82.65,75.0,64.0,12.03,1604057544
297,pedernales,DO,18.04,-71.74,82.06,99.0,66.0,1.21,1604057546
298,quelimane,MZ,-17.88,36.89,89.60,75.0,59.0,13.87,1604057546
316,waingapu,ID,-9.66,120.26,82.67,85.0,75.0,3.15,1604057549
355,boa vista,BR,2.82,-60.67,80.60,75.0,78.0,1.12,1604057400
392,mweka,CD,-4.85,21.57,80.55,95.0,66.0,3.53,1604057567
403,caninde,BR,-4.36,-39.31,86.86,91.0,44.0,7.72,1604057548
406,sampit,ID,-2.53,112.95,80.10,85.0,83.0,3.38,1604057570
432,sibolga,ID,1.74,98.78,81.01,96.0,77.0,2.82,1604057283
434,kabalo,CD,-6.05,26.92,85.19,95.0,68.0,0.76,1604057577
464,lorengau,PG,-2.02,147.27,81.48,94.0,75.0,5.26,1604057584
523,port blair,IN,11.67,92.75,81.21,87.0,81.0,10.38,1604057596
529,denpasar,ID,-8.65,115.22,80.17,90.0,87.0,7.18,1604057435
550,bria,CF,6.54,21.99,83.30,71.0,67.0,3.27,1604057602
551,mogadishu,SO,2.04,45.34,82.94,72.0,67.0,12.17,1604057602
557,nioro,GM,13.35,-15.75,94.42,84.0,26.0,3.62,1604057604

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = pd.DataFrame(df, columns=["City", "Country","Lat", "Lng",])
hotel_df["Hotel Name"] = ""

hotel_df["Lat"] = hotel_df["Lat"].astype(str)
hotel_df["Lng"] = hotel_df["Lng"].astype(str)
#^this could've been done with a format string for the api call
hotel_df

           City Country     Lat     Lng Hotel Name
0       honiara      SB   -9.43  159.95
1        vicuna      CL  -30.03  -70.71
2     carnarvon      AU  -24.87  113.63
3        albany      US    42.6  -73.97
4      powassan      CA   46.03  -79.35
..          ...     ...     ...     ...        ...
566    upington      ZA  -28.45   21.26
567    ajdabiya      LY   30.76   20.23
568  filadelfia      US   39.95  -75.16
569      beloha      MG  -25.17   45.05
570   sabalgarh      IN   26.25    77.4

[571 rows x 5 columns]

In [6]:

url1 ="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="
url2 = f"&radius=5000&type=lodging&keyword=hotel&key={g_key}"

In [7]:
#Test
response = requests.get(url1 + "33.753746,-84.386330" + url2).json()
response

8ctJSEhDzn_mb2q3nyovSAp_8EcawGhTWSYzT2TZXYz7fezqAaX7OaxHG-w',
     'width': 2048}],
   'place_id': 'ChIJ9yPW2nsE9YgRv8Lg0ro_55A',
   'plus_code': {'compound_code': 'QJ86+38 Atlanta, Georgia',
    'global_code': '865QQJ86+38'},
   'rating': 4.1,
   'reference': 'ChIJ9yPW2nsE9YgRv8Lg0ro_55A',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1427,
   'vicinity': '45 Ivan Allen Jr Blvd NW, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.7902012, 'lng': -84.3884271},
    'viewport': {'northeast': {'lat': 33.79155492989272,
      'lng': -84.38684217010729},
     'southwest': {'lat': 33.78885527010728, 'lng': -84.38954182989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Artmore Hotel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2400,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116998118932296635162">A Google User</a>'],
     'photo_reference': 'CmRaAAAAQOyK47mho08bYqwqjHaW3Hp6kQzyiBlg7s2bNWCR_BwfDbq1lEY7bpkfZZNtXVJj3TQG7OsEgUCpm9i5jvIZml8XqwblsjEpwrzppa6BlYdtElfv2JyptCOv5xrwVLQ7EhAesi5v79K1S7Jb6aX2jrJPGhQz3GMGZs5Q4ciHMEMU4BCyna8KmA',
     'width': 3600}],
   'place_id': 'ChIJh-lI8FoE9YgRyKGKYvLpvA8',
   'plus_code': {'compound_code': 'QJR6+3J Atlanta, Georgia',
    'global_code': '865QQJR6+3J'},
   'rating': 4.1,
   'reference': 'ChIJh-lI8FoE9YgRyKGKYvLpvA8',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 881,
   'vicinity': '1302 W Peachtree St NW, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.773544, 'lng': -84.36136499999999},
    'viewport': {'northeast': {'lat': 33.77476227989272,
      'lng': -84.35983707010728},
     'southwest': {'lat': 33.77206262010728, 'lng': -84.36253672989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hotel Clermont',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1920,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110249316950395215876">A Google User</a>'],
     'photo_reference': 'CmRaAAAAZiHIqhr3NqPID-W5czwF2xPxcd2Pi3Uh-EDk79FbvQbuGpmwFQZZkS2LqJwYAF8vWL5jGPlzrGmY1HRO3XlwaOt8KRjDoYdLiEyUGC_qhGAwKKHBzPAT095vjeB9BmuLEhCm1WjvegdAeE1l1u50ShFdGhTA-ISUWwTjjkkVLkM1iSoeByJYcw',
     'width': 2880}],
   'place_id': 'ChIJfegU2hsE9YgR0Jcx-ioKcMA',
   'plus_code': {'compound_code': 'QJFQ+CF Atlanta, Georgia',
    'global_code': '865QQJFQ+CF'},
   'rating': 4.6,
   'reference': 'ChIJfegU2hsE9YgR0Jcx-ioKcMA',
   'scope': 'GOOGLE',
   'types': ['cafe',
    'lodging',
    'bar',
    'food',
    'point_of_interest',
    'clothing_store',
    'store',
    'establishment'],
   'user_ratings_total': 581,
   'vicinity': '789 Ponce De Leon Ave NE, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.786798, 'lng': -84.38144009999999},
    'viewport': {'northeast': {'lat': 33.78823927989271,
      'lng': -84.38024437010728},
     'southwest': {'lat': 33.78553962010727, 'lng': -84.38294402989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'W Atlanta - Midtown',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1366,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101558546990930120528">W Atlanta - Midtown</a>'],
     'photo_reference': 'CmRaAAAAhqqcz2Ke8lqSup40-eS4m3DoLuGyxVIru55xmRUj1Ghibo0dBrzGcO1YcABx99J5aRelfdZMxDIN4ldY5hZZFV4GUh0NEzZ5uDPlBTy_yDXtKiSzvPzAuFP0CJjW8hzGEhAy-7nGKZ78s9SPGiOIZmLZGhSf2KXJ6ges1FlAROXDrD4Kt1-jWw',
     'width': 2048}],
   'place_id': 'ChIJzY1EDkQE9YgRzdycAtbmwiw',
   'plus_code': {'compound_code': 'QJP9+PC Atlanta, Georgia',
    'global_code': '865QQJP9+PC'},
   'rating': 4.1,
   'reference': 'ChIJzY1EDkQE9YgRzdycAtbmwiw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1911,
   'vicinity': '188 14th St NE, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.7594111, 'lng': -84.387917},
    'viewport': {'northeast': {'lat': 33.76058642989272,
      'lng': -84.38682574999999},
     'southwest': {'lat': 33.75788677010728, 'lng': -84.38986475}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'The Westin Peachtree Plaza, Atlanta',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1366,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116698897403069058837">The Westin Peachtree Plaza, Atlanta</a>'],
     'photo_reference': 'CmRaAAAAyQTVkX7PgqdA39mrf0yyxhDy_dZyLxfWDpDEgV6ISXrEvbu50qEU-45kfrew_YILUH2wjVUGGlYqyt0DNgFpt1dq22qiqFMk2-gbIppBxM_r9oeqRnHMNrpUjG7WigGgEhBVd222VFuTv0h3grhUF0iDGhT694QiVQ7e2PWy6hksRdLsoezujw',
     'width': 2048}],
   'place_id': 'ChIJ86lMh3gE9YgRVGCyTyCJZB0',
   'plus_code': {'compound_code': 'QJ56+QR Atlanta, Georgia',
    'global_code': '865QQJ56+QR'},
   'rating': 4.3,
   'reference': 'ChIJ86lMh3gE9YgRVGCyTyCJZB0',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 7959,
   'vicinity': '210 Peachtree St NW, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.7569127, 'lng': -84.3877004},
    'viewport': {'northeast': {'lat': 33.75830187989272,
      'lng': -84.38653472010728},
     'southwest': {'lat': 33.75560222010728, 'lng': -84.38923437989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'The Candler Hotel Atlanta, Curio Collection by Hilton',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1908,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116521350693247289252">Vance McCraw</a>'],
     'photo_reference': 'CmRaAAAAqcDSvSP2EOsZMaP388sHgbcJDzxCXczUQlI_KCO7k4zDUO7Ie9UxFc2elSQwCVz5MxxzZ90hp7Sq75CAHIawBzDNIyGVK9wnEJZHuTcZhGqO0InvKK49fPG_V4Fx1NZBEhC0JbMwJWZO4AlsN2LLrvauGhQxldItkc922fxMeoWIAC63dP3l4g',
     'width': 4032}],
   'place_id': 'ChIJY397sg0D9YgRi_iKbIoz0nQ',
   'plus_code': {'compound_code': 'QJ46+QW Atlanta, Georgia',
    'global_code': '865QQJ46+QW'},
   'rating': 4.6,
   'reference': 'ChIJY397sg0D9YgRi_iKbIoz0nQ',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 92,
   'vicinity': '127 Peachtree St NE, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.761595, 'lng': -84.3855796},
    'viewport': {'northeast': {'lat': 33.76317757989272,
      'lng': -84.38319600000001},
     'southwest': {'lat': 33.76047792010728, 'lng': -84.38697719999999}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Atlanta Marriott Marquis',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1366,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100499246113594154105">Atlanta Marriott Marquis</a>'],
     'photo_reference': 'CmRaAAAAsSVlvyqX95lmrL7GwFY1EDjlUr5AQKrlp1KbAbQpp2B_49mS_hV2UxEri8OlNq8QwtTGLqcnwOk9sFAPCjFPxQaMqBgw1nvb3Emi_ndVcOR_UICs-uOGrxyMHJY_EkHBEhCtWOsmWZxZQ3vtc2QrQRiyGhQzabB8RHdqnkYbSdFmj99217rl4g',
     'width': 2048}],
   'place_id': 'ChIJwxiI1nkE9YgR3dIyOdDBaC8',
   'plus_code': {'compound_code': 'QJ67+JQ Atlanta, Georgia',
    'global_code': '865QQJ67+JQ'},
   'rating': 4.4,
   'reference': 'ChIJwxiI1nkE9YgR3dIyOdDBaC8',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 9866,
   'vicinity': '265 Peachtree Center Ave NE, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.7583217, 'lng': -84.38785700000001},
    'viewport': {'northeast': {'lat': 33.75971987989272,
      'lng': -84.38637682010729},
     'southwest': {'lat': 33.75702022010727, 'lng': -84.38907647989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Ellis Hotel, Atlanta, a Tribute Portfolio Hotel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1365,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114848774484909433240">The Ellis Hotel</a>'],
     'photo_reference': 'CmRaAAAA9PlZP-WsKNxmXlPl3nINmOGPMKoA2Ksqlb-JL6yEoLx1EA4WQtCOu0zbK_ThPL_w_G6Jth7omNEkbyDlgH-RuSoOkY5Wj1L4vMx9Gcdq2rasvx0DQy_8HLJmFdHsPGevEhA1xnNPFX6ws2VOGkBl-3ORGhRhKcjR9k0ibFQkUVUPSCWyYDzQWg',
     'width': 2048}],
   'place_id': 'ChIJwdZPhocD9YgRbWN6QaClVOM',
   'plus_code': {'compound_code': 'QJ56+8V Atlanta, Georgia',
    'global_code': '865QQJ56+8V'},
   'rating': 4.1,
   'reference': 'ChIJwdZPhocD9YgRbWN6QaClVOM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 680,
   'vicinity': '176 Peachtree St NW, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.7602021, 'lng': -84.3878246},
    'viewport': {'northeast': {'lat': 33.76154967989272,
      'lng': -84.38634807010727},
     'southwest': {'lat': 33.75885002010727, 'lng': -84.38904772989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hotel Indigo Atlanta Downtown',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1192,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105715372257594729280">Hotel Indigo Atlanta Downtown</a>'],
     'photo_reference': 'CmRaAAAAxtb0NWu7yULPSuSv8iWrdX-84aZ3YXkyJglQEmmWBeJpxv7Byy3-z03JcYytU8Axd9SpgydrsFfTMEmhes3qzuh4_9MCEGJ8zveIe6IxTttHIbGwE-0552Bx_Y-yM5QpEhB1doFWuStqF50J0zZ3KDiTGhTR_RNmnXMjjopxhOIbmUEZq1MD_A',
     'width': 2119}],
   'place_id': 'ChIJd2diXHgE9YgRKtM6yw38Uac',
   'plus_code': {'compound_code': 'QJ66+3V Atlanta, Georgia',
    'global_code': '865QQJ66+3V'},
   'rating': 4.4,
   'reference': 'ChIJd2diXHgE9YgRKtM6yw38Uac',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 873,
   'vicinity': '230 Peachtree St NE, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.758522, 'lng': -84.394358},
    'viewport': {'northeast': {'lat': 33.76016662989272,
      'lng': -84.39323812010728},
     'southwest': {'lat': 33.75746697010728, 'lng': -84.39593777989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Omni Atlanta Hotel at CNN Center',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1124,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114041020135946816615">Omni Hotel at CNN Center</a>'],
     'photo_reference': 'CmRaAAAAEy7n6cV0eEdHAbAJTCeYmQNzRU5zTu2QpTYyY2R2qH6odSCI72G5zRAfK6fyonfu-PINA3Zhc5jC7vGh3RRc_YqSNzaP9K13ERC9Z6nfOmpK_3NNpiOA6Zi3oUYLkRbKEhCMXTnJkjMyrU4-e_Hr2tBrGhTtqvoNAzxOleG7Dn9FT5Y3Bi6UVQ',
     'width': 1500}],
   'place_id': 'ChIJd_c_Y4AD9YgR0xH3kBPHKqI',
   'plus_code': {'compound_code': 'QJ54+C7 Atlanta, Georgia',
    'global_code': '865QQJ54+C7'},
   'rating': 4.3,
   'reference': 'ChIJd_c_Y4AD9YgR0xH3kBPHKqI',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 9695,
   'vicinity': '100 Cnn, Center St NW, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.7864557, 'lng': -84.3853231},
    'viewport': {'northeast': {'lat': 33.78778222989273,
      'lng': -84.38397267010727},
     'southwest': {'lat': 33.78508257010728, 'lng': -84.38667232989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Four Seasons Hotel Atlanta',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 900,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102506179939051934321">Four Seasons Hotel Atlanta</a>'],
     'photo_reference': 'CmRaAAAATfHwc5RctWcwSRPEHjraEFOa9BT5kdndVqlwVyT8ZJBgUNGDvpcLTyhCOREKSlb666-RDW7NArRiEE4ZYHNC7i1me5Hz_4Qe2_-BxYUJ3uSfbOBF7hUd2DSgrEbGrzKgEhCdCNY6nW9mOJti7ftaf6fRGhRvTp9-8E-anIab7SYgnG8HIt023A',
     'width': 1350}],
   'place_id': 'ChIJIcPOqUQE9YgRRwKUvE48rAI',
   'plus_code': {'compound_code': 'QJP7+HV Atlanta, Georgia',
    'global_code': '865QQJP7+HV'},
   'rating': 4.7,
   'reference': 'ChIJIcPOqUQE9YgRRwKUvE48rAI',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1340,
   'vicinity': '75 14th St NE, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.7599412, 'lng': -84.3910229},
    'viewport': {'northeast': {'lat': 33.76125707989272,
      'lng': -84.38967317010729},
     'southwest': {'lat': 33.75855742010727, 'lng': -84.39237282989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'AC Hotel by Marriott Atlanta Downtown',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3930,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105937293010069562374">A Google User</a>'],
     'photo_reference': 'CmRaAAAA37whQG9vkXqRM1a1LM9pQ6Alp5np2l6YM-KL-wVsZfQH6NU25zQ3OANN5fbcgUiPK26ywIKmxhyPzqybckbH1k9ba5R7MRb3CTGBOmeD_fgtYuIR2MRI4U_oxwJxtlzZEhAAPpUhflWjxXd6P0RoB5tgGhSDMaPHYKfsyGw9o98OIJ0sQxsCkA',
     'width': 5895}],
   'place_id': 'ChIJf2-xSn8E9YgR9VHMvyGzeVE',
   'plus_code': {'compound_code': 'QJ55+XH Atlanta, Georgia',
    'global_code': '865QQJ55+XH'},
   'rating': 4.3,
   'reference': 'ChIJf2-xSn8E9YgR9VHMvyGzeVE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1042,
   'vicinity': '101 Andrew Young International Blvd NW, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.7719444, 'lng': -84.3527778},
    'viewport': {'northeast': {'lat': 33.77326807989272,
      'lng': -84.35129877010729},
     'southwest': {'lat': 33.77056842010728, 'lng': -84.35399842989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'The Highland Inn & Ballroom Lounge',
   'photos': [{'height': 1067,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114328252458160498201">The Highland Inn</a>'],
     'photo_reference': 'CmRaAAAARLnDSddboJTzwRXuEVYiiPQXF-08-DrhRAirxAvt8qvpAJEyhU5Xhh4M5Zd1JGw66iEeFFsmB2pJSN_n90mKFHns0kQn4kcRYBQlDPvSoVr_xtJ88xYP60gDazhw12PvEhACM5qCPRj_gLi9ZZngRbp1GhQwdfbBMyUHdP-OoAXK0SedmKyvxw',
     'width': 1600}],
   'place_id': 'ChIJ5Q3kFacG9YgRK8TpicKNga4',
   'plus_code': {'compound_code': 'QJCW+QV Atlanta, Georgia',
    'global_code': '865QQJCW+QV'},
   'rating': 4.3,
   'reference': 'ChIJ5Q3kFacG9YgRK8TpicKNga4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 812,
   'vicinity': '644 North Highland Avenue Northeast, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.7585793, 'lng': -84.3870657},
    'viewport': {'northeast': {'lat': 33.75984997989272,
      'lng': -84.38589462010727},
     'southwest': {'lat': 33.75715032010728, 'lng': -84.38859427989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'The Ritz-Carlton, Atlanta',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1366,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102699646059874219471">The Ritz-Carlton, Atlanta</a>'],
     'photo_reference': 'CmRaAAAAdZTukPRsddEfz_2r0fi6r164-Qx0-mJwShs8n1EX3vh8B144l-W9AEy7lqyu75Qy2fUacIF6IFHnBxoxao1kwGMeP_0UP2N92ljSLfqzzbIqX7PnsVT8bFsQrxnrOhoKEhA111PjzGajH_D6ggfAUwHmGhROE36ND32RdlcqW2zECE9wGPVHRA',
     'width': 2048}],
   'place_id': 'ChIJm56eKO0E9YgRSeb3PncqJzw',
   'plus_code': {'compound_code': 'QJ57+C5 Atlanta, Georgia',
    'global_code': '865QQJ57+C5'},
   'rating': 4.5,
   'reference': 'ChIJm56eKO0E9YgRSeb3PncqJzw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2035,
   'vicinity': '181 Peachtree St NE, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.7858229, 'lng': -84.38596489999999},
    'viewport': {'northeast': {'lat': 33.78708182989272,
      'lng': -84.38451392010728},
     'southwest': {'lat': 33.78438217010728, 'lng': -84.38721357989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Moxy Atlanta Midtown',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1366,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114051701218983856984">A Google User</a>'],
     'photo_reference': 'CmRaAAAAXnMr5xVzOKOZqmu0BvgYeTepxgb36euD6Sb8Rkr2Xs0BdOsx--c9QHMxu2zGNTIbBb9vDrQBPh8oyUXF17fyACF3_VnpOtEXDmp5_asnp6B89gc6_ZzXyMgxSfrcrr-bEhDv9z5bjxWkJ2e5nYT8JnIfGhRDdJrPaMeOxz2m0CNu3KJrCUk3Mw',
     'width': 2048}],
   'place_id': 'ChIJh_qJq1wE9YgRD_EExnUGQgI',
   'plus_code': {'compound_code': 'QJP7+8J Atlanta, Georgia',
    'global_code': '865QQJP7+8J'},
   'rating': 4.4,
   'reference': 'ChIJh_qJq1wE9YgRD_EExnUGQgI',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 285,
   'vicinity': '48 13th St NE, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.7593077, 'lng': -84.3899184},
    'viewport': {'northeast': {'lat': 33.76071887989273,
      'lng': -84.38842672010728},
     'southwest': {'lat': 33.75801922010728, 'lng': -84.39112637989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'The American Hotel Atlanta Downtown - a DoubleTree by Hilton',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108988984656432781048">A Google User</a>'],
     'photo_reference': 'CmRaAAAAoNJfdU0hcIKXNIy_JWDjaJDGpTEUJ2175LlUG1y5Rvssz1GBJ1BOrw0H0K69dZJ6_aoq1nrAs6HNf3UYyYvIK-FoHPjN34SLXlrvKM8WxHQU_UB4iGdpnxV-6NDEo_haEhC99H13tha-dDPZKImiOyqPGhQqifI5YgdjL91X0-xu9sJSzn36Hw',
     'width': 4500}],
   'place_id': 'ChIJ31BCu3gE9YgRr9xisc2taTo',
   'plus_code': {'compound_code': 'QJ56+P2 Atlanta, Georgia',
    'global_code': '865QQJ56+P2'},
   'rating': 4.1,
   'reference': 'ChIJ31BCu3gE9YgRr9xisc2taTo',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1698,
   'vicinity': '160 Ted Turner Dr NW, Atlanta'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 33.791434, 'lng': -84.3981008},
    'viewport': {'northeast': {'lat': 33.79271687989272,
      'lng': -84.39675262010728},
     'southwest': {'lat': 33.79001722010728, 'lng': -84.39945227989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Twelve Midtown, Autograph Collection',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1366,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110811327941522133704">Twelve Atlantic Station Hotel</a>'],
     'photo_reference': 'CmRaAAAA5v5VdbnOAVe3cSuw6o4IIq-3rR84yyW2Ia055glbdvHT2aC6A-AqwwdHfCsqciRSJcKnZddz-rjOrs0i3F3d0f0b7ZvYgJKAWjAVqjytEsAtO4nObspxXOHVSEmznxQ8EhDrlcrg-BKJqo0mZT6uBJlaGhSapxUZtu7pSM9egX5TpdGP1x8vsA',
     'width': 2048}],
   'place_id': 'ChIJ7XjMm_cE9YgRtIzD7WCH9sM',
   'plus_code': {'compound_code': 'QJR2+HQ Atlanta, Georgia',
    'global_code': '865QQJR2+HQ'},
   'rating': 4.2,
   'reference': 'ChIJ7XjMm_cE9YgRtIzD7WCH9sM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 828,
   'vicinity': '361 17th St NW, Atlanta'}],
 'status': 'OK'}

In [10]:
for index, row in hotel_df.iterrows():
    response = requests.get(url1 + row["Lat"] + "," + row["Lng"] + url2).json()
    #lat and long could've been called with another variable as formatted string vs converting columns to a different data type. 
    try:
        hotel_df.loc[index, "Hotel Name"] = response['results'][0]["name"]
    except:
        hotel_df.loc[index, "Hotel Name"] = "None"

In [11]:
hotel_df

           City Country     Lat     Lng                 Hotel Name
0       honiara      SB   -9.43  159.95  Coral Sea Resort & Casino
1        vicuna      CL  -30.03  -70.71               Hotel Halley
2     carnarvon      AU  -24.87  113.63      Hospitality Carnarvon
3        albany      US    42.6  -73.97                       None
4      powassan      CA   46.03  -79.35             Princess Motel
..          ...     ...     ...     ...                        ...
566    upington      ZA  -28.45   21.26                       None
567    ajdabiya      LY   30.76   20.23                       None
568  filadelfia      US   39.95  -75.16                       None
569      beloha      MG  -25.17   45.05                       None
570   sabalgarh      IN   26.25    77.4                       None

[571 rows x 5 columns]

In [12]:
hotel_df = hotel_df[hotel_df != "None"]
hotel_df.dropna(inplace=True)
hotel_df

,City,Country,Lat,Lng,Hotel Name
0,honiara,SB,-9.43,159.95,Coral Sea Resort & Casino
1,vicuna,CL,-30.03,-70.71,Hotel Halley
2,carnarvon,AU,-24.87,113.63,Hospitality Carnarvon
4,powassan,CA,46.03,-79.35,Princess Motel
5,upernavik,GL,72.79,-56.15,Café de Upernavik
...,...,...,...,...,...
481,college,US,64.86,-147.8,7 Gables Inn & Suites
482,takoradi,GH,4.88,-1.76,Protea Hotel by Marriott Takoradi Select
483,cockburn town,TC,21.46,-71.14,Bohio Dive Resort
484,maseru,LS,-29.32,27.48,Avani Lesotho Hotel & Casino
485,leshukonskoye,RU,64.9,45.76,"Leshukonskaya, Gostinitsa"

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [27]:
locations["Lat"] = locations["Lat"].astype(float)
locations["Lng"] = locations["Lng"].astype(float)
#since I didn't use another variable to format lat and lng into a string and formatted the entire columns as strings instead, have to format them back for marker locations. pros and cons to each way, honestly. 
locations.dtypes

Lat    float64
Lng    float64
dtype: object

In [28]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, hotel_info)
fig.add_layer(markers)
fig
# Display figure

Figure(layout=FigureLayout(height='420px'))