# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:

df = pd.read_csv('../WeatherPy/output_data/WeatherPy.csv')
df

,City,Country,Lat,Lng,Temp,Cloudiness,Humidity,WindSpeed,Date
0,honiara,SB,-9.43,159.95,77.00,75.0,94.0,2.24,1604057474
1,vicuna,CL,-30.03,-70.71,53.60,90.0,87.0,4.70,1604057474
2,carnarvon,AU,-24.87,113.63,73.40,90.0,78.0,10.29,1604057475
3,albany,US,42.60,-73.97,32.00,100.0,89.0,9.24,1604057413
4,powassan,CA,46.03,-79.35,19.99,15.0,76.0,5.99,1604057475
...,...,...,...,...,...,...,...,...,...
566,upington,ZA,-28.45,21.26,86.00,0.0,19.0,3.36,1604057606
567,ajdabiya,LY,30.76,20.23,74.91,34.0,55.0,13.00,1604057606
568,filadelfia,US,39.95,-75.16,46.00,90.0,100.0,13.87,1604057382
569,beloha,MG,-25.17,45.05,91.78,0.0,26.0,14.63,1604057606
570,sabalgarh,IN,26.25,77.40,79.83,0.0,18.0,5.48,1604057606

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
locations = df[["Lat","Lng"]]

fig = gmaps.figure()


heat_layer = gmaps.heatmap_layer(locations, weights=df["Humidity"],dissipating=False, max_intensity=10, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure