# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

df = pd.read_csv('../WeatherPy/output_data/WeatherPy.csv')
df

,City,Country,Lat,Temp,Cloudiness,Humidity,WindSpeed,Date
0,puerto ayora,EC,-0.74,75.20,40.0,69.0,10.29,1603837340
1,bethel,US,41.37,53.60,40.0,54.0,3.36,1603837199
2,yellowknife,CA,62.46,17.60,75.0,67.0,6.93,1603837361
3,chuy,UY,-33.70,61.72,100.0,94.0,14.05,1603837335
4,albany,US,42.60,48.99,100.0,64.0,2.39,1603837260
...,...,...,...,...,...,...,...,...
556,mehamn,NO,71.04,32.00,0.0,84.0,8.05,1603837440
557,diamantino,BR,-14.41,81.32,93.0,72.0,2.86,1603837369
558,polovinnoye,RU,54.79,26.20,98.0,94.0,18.45,1603837440
559,anchorage,US,61.22,34.00,75.0,86.0,3.80,1603837440
560,nyuksenitsa,RU,60.41,38.95,100.0,92.0,9.84,1603837440

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure